
node_modules/
.pnp
.pnp.js


pb_data/
pocketbase.exe
pocketbase
*.db


.env
.env.local
.env.development.local
.env.test.local
.env.production.local


dist/
build/
.next/
out/


npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*


.DS_Store
Thumbs.db